.yt__title {
  margin-left: 10px;
  display: flex;

  align-items: center;
  font-weight: bold;
}
.yt__nav {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  background-color: #212121;
}

.yt__icon {
  margin-right: 10px;
}

.icon__con {
  margin-right: 20px;
}

.yt__search {
  margin-left: 10px;
  margin-right: 10px;
}

.yt__genre {
  background-color: #212121;
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3px;
}

.yt__right__genre {
  display: flex;
  border-left: 0.5px solid white;
}
.gen__right {
  background-color: rgb(88, 88, 88);
  margin: 0 15px;
  border-radius: 20px;
  border: 1px solid #566963;
  color: #ffffff;
  font-family: Arial;
  padding: 5px;
  font-size: small;
  font-weight: bold;
  text-shadow: 0px -1px 0px #2b665e;
}
.gen__search {
  display: flex;
  background-color: rgb(88, 88, 88);
  border-radius: 20px;
  border: 1px solid #566963;
  color: #ffffff;
  font-family: Arial;
  padding: 5px;
  font-size: small;
  font-weight: bold;
  text-shadow: 0px -1px 0px #2b665e;
}

/* .gen__search:hover,
.gen__right:hover {
} */

.yt__content {
  display: flex;
  flex-direction: column;
}

.yt__main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-left: 1px solid #212121;
  border-right: 1px solid #212121;
  background-color: #212121;
}

.main__info {
  color: white;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  font-size: smaller;
  margin: 0 10px;
}
.main__textcon {
  margin: 0 30px;
}
.main__subcon {
  color: gray;
  font-size: xx-small;
  margin: 0 30px;
}
.main__moreimg {
  position: absolute;
  margin: 0 10px;
  bottom: 13px;
}
.maintoshorts {
  border-bottom: 3px solid gray;
}
.yt__shorts {
  margin-top: 0;
  background-color: #212121;
}
.shorts__head {
  color: white;
  display: flex;

  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.shorts__content {
  display: flex;
}
.content__video {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 10px;
}
.content__text {
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: small;
  font-weight: lighter;
  /* border: 1px solid white; */
  margin-bottom: 15px;
}
.conent__text2 {
  font-size: x-small;
  font-weight: bold;
}

.fixed__ {
  position: relative;
}

.yt__menu {
  color: white;
  border-top: 1px solid #566963;
  display: flex;
  justify-content: space-around;
  background-color: #212121;
  font-size: xx-small;
}
.menu__ico {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
